.wrapper{
    width:90%;
    height: 500px;
    margin:0 auto;
    border:1px solid lightgrey;
    position: relative;
    overflow: hidden;
}

.form{
    display: flex;
    justify-content: center;
    padding:10px 0;
    button{
        margin:0 20px;
    }
}