.word-item{
    padding:5px;
    // background-color: lightgreen;
    animation: move 8s forwards linear;
    font-size: 20px;
    width:100%;
    position: absolute;
    span{
        cursor: pointer;
    }
}

.active{
    color:palevioletred
}

@keyframes move{
    from{
        transform: translateX(100%);//21104
        //right:-100%;//36071
    }
    to{
        transform: translateX(-100%);
        //right:0;
    }
}