.word-item{
    padding:5px;
    background-color: lightgreen;
    animation: move 5s forwards linear;
    font-size: 20px;
}

@keyframes move{
    from{
        transform: translateX(400px);
    }
    to{
        transform: translateX(0);
    }
}