.flex{
    display: flex;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    .left{
        width:200px;
        border-right: 1px solid lightgrey;
        li{
            margin:10px 0;
        }
    }
    .right{
        flex:1;
        padding:50px;
    }
}

.link{
    text-decoration: none;
}
